<p align="center"><img width="300" src="https://raw.githubusercontent.com/eindex/leetcode-spider-go/master/img/site-logo.png"></p>
<h2 align="center">My leetcode solutions</h2>
<p align="center"><b>Last updated: {{ .Time }}</b></p>
<p align="center">The source code was fetched by <a href="https://github.com/eindex/leetcode-spider-go">leetcode-spider-go</a>.
</p>
{{$m:=.Mode}}
| # | Problems | Difficulty | Solutions |
|:--:|:-----:|:---:|:---------:|
{{ range .Solution }}{{ with $q:=( index . "question")}}| {{ $q.FrontendID }} | [{{ if eq $m "cn" }}{{ .TranslatedTitle }}{{ else }}{{ .TitleSlug }}{{ end }}](https://leetcode.com/ploblems/{{ .TitleSlug }})| {{ .Difficulty }} {{end}}| {{with (index . "langs")}}{{range .}}[{{index . 0}}](.{{index . 1}}) {{end}}{{end}}|
{{ end}}